<div class="login-form-wrapper card">
    <span id="title">Login</span>
    <form class="login-form flex-container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="flex-container">
            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Username</mat-label>
                <input type="text" matInput formControlName="username">
            </mat-form-field>

            <mat-form-field class="full-width" appearance="legacy">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
            </mat-form-field>
        </div>
        <button id="sumbit-button" class="" mat-raised-button color="primary">Sign In</button>
    </form>
    <a id="register-redirect" [routerLink]="['/auth', 'register']">Or sign up here</a>
</div>