* {
    width: 85%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.full-width {
    width: 100%;
}

.flex-content {
    position: absolute;
    left: 0;
    width: 70%;
    height: 100%;
}

app-statistics#statistics-view {
    position: absolute;
    top: 0;
    height: 52%;
}

app-most-played#most-played-view {
    height: 48%;
}

.flex-aside {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 30%;
    align-items: center;
}

app-friends#friends-view {
    height: 100%;
}