* {
    background-color: rgba(255, 255, 255, 0.12);
    margin: 0;
    padding: 0;
}

.full-height {
    padding: 0;
    margin: 0;
    height: 100%;
}

.full-width {
    width: 100%;
}

.flex-context {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-context button {
    background-color: transparent;
    border-radius: 0;
    width: 7%;
    height: 100%;
}

.flex-context button:hover {
    background-color: rgba(196, 196, 196, 0.6);
}

.flex-context button mat-icon {
    background-color: transparent;
}