<mat-toolbar class="full-height full-width">
    <div class="flex-context full-height full-width">
        <button mat-icon-button aria-label="Go to main page">
            <mat-icon>home</mat-icon>
          </button>
        <button mat-icon-button aria-label="Go to friends page" class="flex-content" [routerLink]="['/not-found']">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button aria-label="Go to notifications" [routerLink]="['/not-found']">
          <mat-icon>notifications</mat-icon>
        </button>
        <div class="profile-picture">
            <button mat-icon-button aria-label="User profile" [matMenuTriggerFor]="beforeMenu">
            <mat-icon>account_box</mat-icon>
          </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item [routerLink]="['/not-found']">Settings</button>
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>