<mat-toolbar class="full-height full-width">
    <div class="flex-context full-height full-width">
        <button mat-icon-button aria-label="Go to main page">
            <mat-icon>home</mat-icon>
          </button>
        <button mat-icon-button aria-label="Go to friends page" class="flex-content">
            <mat-icon>people</mat-icon>
        </button>
        <button mat-icon-button aria-label="Go to notifications">
          <mat-icon>notifications</mat-icon>
        </button>
    </div>
</mat-toolbar>