* {
    width: 15%;
    background-color: rgba(255, 255, 255, 0.12);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
}

::ng-deep mat-form-field .mat-hint,
 ::ng-deep mat-form-field input,
 ::ng-deep mat-form-field ::placeholder,
 ::ng-deep mat-form-field .mat-form-field-label {
    color: white;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.mat-form-field {
    font-weight: 300;
}

.mat-input-element {
    caret-color: #C4C4C4;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 3rem;
    background-color: #373344;
}

.header h3 {
    width: 100%;
    color: #C4C4C4;
    background-color: transparent;
    margin: 0;
    font-size: 12pt;
    font-weight: 300;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-title:hover,
.headers-align .mat-expansion-panel-header-description:hover {
    flex-basis: 0;
}

::ng-deep mat-expansion-panel-header[id^=mat-expansion-panel-header],
::ng-deep mat-expansion-panel-header[id^=mat-expansion-panel-header]:hover {
    background-color: #373344 !important;
}

mat-expansion-panel.mat-expansion-panel,
mat-expansion-panel.mat-expansion-panel.mat-expanded.mat-expansion-panel-spacing {
    background-color: transparent;
}

.mat-expansion-panel-content {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    height: 85%;
}

mat-expansion-panel.mat-expansion-panel .content {
    width: 100%;
}

::ng-deep .mat-expansion-indicator::after {
    color: #C4C4C4;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important;
}

#button-group {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#button-group mat-button-toggle {
    width: 100%;
}

::ng-deep button[id^=mat-button-toggle] {
    text-align: left !important;
}

#search {
    display: flex;
    padding-top: 1rem;
    height: 30%;
    margin: 0;
}

#search mat-icon {
    width: 10%;
    font-size: 16pt;
    color: #C4C4C4;
    margin: 0;
    background-color: transparent;
}

#search mat-form-field {
    width: 80%;
    height: 100%;
    color: #C4C4C4;
    margin: 0;
    background-color: #373344;
}

#search mat-label {
    color: white;
    background-color: #373344;
}

#recently-played {
    height: 30%;
}

#your-games {
    height: 40%;
}